.center-container {
  display: flex;
  flex-direction: column;
}

.columns-container {
  background-color: #4ec796;
  color: white;
  position: fixed;
  width: 100%;
  margin-top: 4.3rem;
}
.columns-title-container {
  display: flex;
  flex-direction: row;
  padding-left: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.column {
  width: 14%;
  font-size: 1.5rem;
}

.contacts-container {
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
}

.contact-container {
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}

.contact-details-container {
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.contact {
  width: 14%;
}

.contact > p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: gray;
}

.avatar-container {
  margin-left: 2rem;
}

.avatar-image {
  height: 4rem;
  width: 4rem;
}

.star-container {
  margin-top: 1rem;
}
