<div class="center-container">
  <div class="columns-container">
    <div class="columns-title-container">
      <div class="column">
        <h5>
          FIRST NAME
        </h5>
      </div>
      <div class="column">
        <h5>
          LAST NAME
        </h5>
      </div>
      <div class="column">
        <h5>
          EMAIL
        </h5>
      </div>
      <div class="column">
        <h5>
          NUMBER
        </h5>
      </div>
      <div class="column">
        <h5>
          ADRESS
        </h5>
      </div>
      <div class="column">
        <h5>
          TAG
        </h5>
      </div>
    </div>
  </div>

  <div *ngIf="contacts">
    <div class="contacts-container">
      <div *ngFor="let contact of contacts; let i = index">
        <div
          [ngStyle]="{ 'background-color': i % 2 == 1 ? 'white' : '#e2ffdb' }"
          class="contact-container"
        >
          <div class="avatar-container">
            <div
              *ngIf="contact.Gender == 'Male'; then thenBlock; else elseBlock"
            ></div>
            <ng-template #thenBlock>
              <img
                class="avatar-image"
                src="../../../assets/images/maleAvatar.png"
                alt=""
              />
            </ng-template>
            <ng-template #elseBlock>
              <img
                class="avatar-image"
                src="../../../assets/images/femaleAvatar.png"
                alt=""
              />
            </ng-template>
          </div>
          <div class="contact-details-container">
            <div class="contact">
              <p>
                {{ contact.FirstName }}
              </p>
            </div>
            <div class="contact">
              <p>
                {{ contact.LastName }}
              </p>
            </div>
            <div class="contact">
              <p>
                {{ contact.ContactEmails[0].Email }}
              </p>
            </div>
            <div class="contact">
              <p>
                {{ contact.ContactNumbers[0].Number }}
              </p>
            </div>
            <div class="contact">
              <p>
                {{ contact.ContactAddress }}
              </p>
            </div>
            <div class="contact">
              <p>
                {{ contact.Tag }}
              </p>
            </div>
            <div class="contact">
              <div class="star-container">
                <fa-icon
                  class=""
                  [icon]="faStar"
                  size="2x"
                  [ngStyle]="{
                    color: contact.Bookmarked ? '#638fff' : '#e2ffdb'
                  }"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
