<div class="contact-avatar-and-create-details-container-component">
  <div class="contact-avatar-and-create-details-container">
    <div class="avatar-container">
      <img
        (click)="onMaleAvatarClick()"
        [ngClass]="setMaleAvatarClasses()"
        src="../../../assets/images/maleAvatar.png"
        alt=""
      />

      <img
        (click)="onFemaleAvatarClick()"
        [ngClass]="setFemaleAvatarClasses()"
        src="../../../assets/images/femaleAvatar.png"
        alt=""
      />
    </div>
    <div class="contact-create-main-details-container">
      <form [formGroup]="contactCreateMainDetailsForm">
        <label>
          First name:
          <input type="text" formControlName="firstName" />
        </label>
        <label>
          Last name:
          <input type="text" formControlName="lastName" />
        </label>

        <label>
          Address:
          <input type="text" formControlName="address" />
        </label>

        <label>
          Tag:
          <input type="text" formControlName="tag" />
        </label>
      </form>
      <div class="button-container">
        <button
          [disabled]="!contactCreateMainDetailsForm.valid"
          (click)="submitCreate()"
        >
          CREATE CONTACT
        </button>
      </div>
    </div>
  </div>
  <div class="contact-create-email-container">
    <form [formGroup]="contactAddEmailForm">
      <label>
        Add new email:
        <input
          type="text"
          formControlName="addEmail"
          placeholder="Enter new email here ..."
        />
      </label>
    </form>
    <div class="button-container">
      <button (click)="addEmailFromEmailForm()">ADD EMAIL</button>
    </div>
    <div class="message-container">
      <div class="message">
        Click on email you want to keep!
      </div>
    </div>

    <div class="message">
      New emails added:
    </div>
    <div
      class="email-container"
      *ngFor="let email of contactFormEmails; let i = index"
    >
      <div
        class="email"
        [ngStyle]="{
          backgroundColor: '#638fff',
          color: 'white'
        }"
      >
        {{ email.addEmail }}
      </div>
    </div>
  </div>

  <div class="contact-create-number-container">
    <form [formGroup]="contactAddNumberForm">
      <label>
        Add new contact number:
        <input
          type="text"
          formControlName="addNumber"
          placeholder="Enter new number here ..."
        />
      </label>
    </form>
    <div class="button-container">
      <button (click)="addNumberFromNumberForm()">
        ADD NUMBER
      </button>
    </div>
    <div class="message-container">
      <div class="message">
        Click on number you want to keep!
      </div>
    </div>

    <div class="message-container">
      <div class="message">
        New numbers added:
      </div>
    </div>
    <div
      class="email-container"
      *ngFor="let contactNumber of contactFormNumbers; let i = index"
    >
      <div
        class="email"
        [ngStyle]="{
          backgroundColor: '#638fff',
          color: 'white'
        }"
      >
        {{ contactNumber.addNumber }}
      </div>
    </div>
  </div>
</div>
