<div class="contacts-list-container">
  <div class="columns-container">
    <div class="columns-title-container">
      <div class="column">
        <h5>
          FIRST NAME
        </h5>
      </div>
      <div class="column">
        <h5>
          LAST NAME
        </h5>
      </div>
      <div class="column">
        <h5>
          EMAIL
        </h5>
      </div>
      <div class="column">
        <h5>
          NUMBER
        </h5>
      </div>
      <div class="column">
        <h5>
          ADRESS
        </h5>
      </div>
      <div class="column">
        <h5>
          TAG
        </h5>
      </div>
    </div>
  </div>
  <div class="contacts-container">
    <div *ngFor="let contact of contacts$ | async">
      <app-contact
        [routerLink]="['/contact', contact.Id]"
        [contact]="contact"
      ></app-contact>
    </div>
  </div>
</div>
